__pycache__/
ip.txt
# this will hold the ip addresses of all servers
servers.txt
# this will hold the game window name
gamename.txt
# this will be the decryption key
key.key
# this will hold the main player name
player.txt
# this will hold the bot player name
currplayer.txt
# vscode settings
.vscode/
# new file to send main player name
mainplayer.txt
# sensitive test image
test_sensitive.jpg
# test images which may be sensitive
testy.jpg
testytest.jpg
testytest2.jpg
testycont.jpg
testypoints.jpg